body {
  margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  margin-top: 20vh;
  color: #777777;
  width: 100%;
  text-align: center;
}
nav, .app {
  width: 100%;
  text-align: center;
}
nav {
  border-bottom: 1px solid #e1e1e1;
  font-size: 90%;
  box-sizing: border-box;
  height: 41px;
}
nav > button {
  position: absolute;
  padding: 0 1.5em 0;
  top: 0;
  right: 0;
  border: none;
  line-height: 40px;
  background: none;
  color: #777777;
}
a {
  line-height: 40px;
  display: inline-block;
  text-decoration: none;
  color: #777777;
}
a + a {
  margin-left: 1em;
}
a:hover, .active {
  color: #03a9f4;
}
input {
  display: block;
  margin-top: 1em;
  padding: .6em;
  border-radius: 2px;
  border: 1px solid #e1e1e1;
  color: #777777;
}
input:focus {
  border: 1px solid #aaaaaa;
  outline: 0;
}
.login {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login button {
  background: #03a9f4;
  color: white;
  font-size: 75%;
  margin: 2em .7em 0 .7em;
  padding: .5em;
  width: 5em;
  border: none;
  border-radius: 4px;
}
.login button:hover {
  background: #0288d1;
}
.error {
  color: #d32f2f;
  padding: 2em 20vw 0 20vw;
  line-height: 1.4;
  font-size: 90%;
}
